@font-face {
    font-family: markRegular;
    font-weight: 400;
    src: url(../../../assets/fonts/Mark-Regular.ttf);
  }
  @font-face {
    font-family: markMedium;
    font-weight: 500;
    src: url(../../../assets/fonts/Mark-Medium.ttf);
  }
  @font-face {
    font-family: tiempos;
    font-weight: 800;
    src: url(../../../assets/fonts/Tiempos+Headline-Black.otf);
  }
* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
  }
body{
  background-color: #fafafa;
}
  .logo{
      padding: 18px 0px 0px;
  } 
 .logo img{
    height: 45px;
    padding: 0px 20px
} 
.contenedor{
width: 90%;
margin: auto;

}
  
#banner {
  margin-top: 15px;
  position: relative;
}
 
#banner img{
  overflow: hidden;
  width:100%;
  max-height: 100%;
  -webkit-filter: brightness(50%);
  filter:brightness(50%);

} 
#banner .contenedor{
  position: absolute;
  transform: translateX(-50%) translateY(-80%);
  top:50%;
  left: 50%;
  border-radius: 6px;
}
  
   #banner h2 {
    font-family: tiempos, sans-serif;
    font-size: 32px;
    color: #ffffff;
    width: 280px;
  } 
  #banner p{
      font-size: 16px;
      color:#fafafa;
      font-family: markRegular, sans-serif;
      width: 240px;
  } 
  
  

  .btn-iniciar{
    font-family: markMedium, sans-serif;
    padding: 1px;
    border: none;
    background :#FFd100;
    color: #000013;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    width: 25%;
    height: 48px;
    margin-top: 15px;

  }
  @media (min-width:1024px) {
    #banner {
        width: 100%;
        overflow: hidden;
    }
    #banner img{
      height: 100%;
      
    }
    
   
  }
  @media (min-width:480px){
      #banner {
          height: 50%;
          overflow: hidden;
      }
      
      #banner img{
        height: auto;
      }
  
    #banner h2{
        font-size: 40px;
      }
      
  }
  @media (min-width:768px){
    .logo img{
      height: 56px;
      padding: 0px 35px
    }
    #banner h2 {
      font-size: 34px;
      width: 400px;
    }
    #banner p{
      font-size: 14px;
      width: 680px;
    }
    .btn-iniciar{
      font-size: 16px;
      height: 36px;
    }
   
  }
  