
<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <h1 class="titulo">Hola nuevamente</h1>
            <h3 class="subtitulo">Inicie sesión</h3>
            <form>
               <div class="form-register">
                <label id="name" class="label title" for="fname">Nombres completos :</label>
                <input #name type="text" id="fname" class="raro" name="firstname" placeholder="Nombres completos" required autocomplete="name">
                <p class="label error hidden">Los datos que ha ingresado son incorrectos</p>

                <br>
                <label id="email" class="label title" for="lemail">Correo electrónico :</label>
                <input #email type="text" id="femail" name="email" placeholder="Correo electrónico"  required autocomplete="email">
                <p class="label error hidden">El correo ingresado no existe</p>

                <label id="business" for="fbusiness">Empresa :</label>
                <input #companyVisitor type="text" id="fbusiness" name="business" placeholder="Empresa" required autocomplete="companyVisitor">
                <p class="label error hidden">Los datos que ha ingresado son incorrectos</p>

                <label id="host" for="lname">¿A quién buscas? :</label>
                <input #comunero type="text" id="lname" placeholder="Anfitrión" name="empresa" [(ngModel)]="empresa" value="{{valorCapturado}}{{valorEmpresa}}" required autocomplete="comunero">
                <span class="btn-empresa" *ngFor="let empre of empresas | filterEmpresas: empresa">
                    <button class="btn btn-ligth" *ngIf="empresa !== ''" type="button" (click)="capturarValor(empre.nombreapellido, empre.empresa)">{{empre.nombreapellido}} - {{empre.empresa}}</button>
                </span>
                <p class="label error hidden">La persona que usted busca no está registrada</p>
                 
                <br>
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
                        <label class="custom-control-label" for="defaultChecked2">Aceptar <a href="#" type="" data-toggle="modal" data-target="#exampleModalLong">términos y condiciones</a></label>
                </div>
                <br>
                <button class="btn btn-warning btn-md text-white" type="submit" (click)="getVisitorValues(name.value, email.value, companyVisitor.value, comunero.value,cantidad, imagen.value)" data-toggle="modal" data-target="#modalConfirmDelete">Registrar mi visita</button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Términos y condiciones</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <h4>Al acceder al sitio web www.comunidadaltruista.org y utilizar los servicios presentados por el mismo, usted confirma que ha leído, entendido y acordado sujetarse a dichos términos, incluido el aviso de privacidad disponible
                                    en el mismo sitio web, así como las reglas de uso, operación y procedimientos publicados en el sitio web. Comunal se reserva el derecho de negar o restringir el acceso a cualquier usuario siempre y cuando no haga mal
                                    uso de los servicios presentados en el sitio web, suspender, o restringir el acceso a las partes sin necesidad de previo aviso.
                                </h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary" onclick="aceptarCondition()" (click)="getVisitorValues(name.value, email.value, companyVisitor.value, comunero.value, cantidad, imagen.value)">Aceptar</button>
                            </div>
                        </div>
                    </div>

                    <div class="btn-cont">
                        <button type="button" class="" routerLink="/register-form" class="">Continuar</button>
                    </div>
                </div>
                <div class="modal fade" id="modalConfirmDelete" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                        <div class="modal-content text-center">
                            <div class="modal-header">
                                <img class="img-short img-fluid" src="../../../assets/img/logo.png" alt="">
                            </div>
                            <div class="modal-body">
                                <h2 class="text-center">¡Tu visita ha sido notificada!</h2>
                                <h5 class="text-center">Prometemos atenderte en unos minutos</h5>
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-warning" (click)="aceptar()">OK!</a>
                            </div>        
                        </div>
                    </div>
                </div>
            </form>
           
        </div>
    </div>

    <div class="col-md-6 d-flex">
    <div class="">
            <div class="dot">
                <label class="btn btn-file">
                    <input class="myfile d-none" type="file" #imagen [(ngModel)]="photo" name="myfile" value="" accept="image/*" capture="camera" />
                    <img src="./assets/img/icon_camera.png" alt="">
                </label>       
            </div>
            <div class="acompañantes text-center d-block">
                <label>#Acompañantes: </label>
                <div class="">
                    <button class="button-enable yellow" id="cant" class=" btn btn-warning" (click)="aumentar()">+</button> {{cantidad}}
                    <button id="cant" class="button-enable yellow" class=" btn btn-warning" (click)="disminuir()">-</button>
                </div>
            </div>    
        </div>
    </div>
</div>
