<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <h1 class="title text-center">Resgistrate</h1>
            <form>
                <!--<form action="#" class=""> -->
                <div class="row ">

                    <div class="upload-btn-wrapper  center">
                        <button class="dot"></button>
                        <input class="myfile " type="file" #imagen name="myfile" value="" accept="image/*;capture=camera" />
                    </div>

                </div>

                <label id="name" class="label title" for="fname">Nombres completos</label>
                <input #name type="text" id="fname" class="raro" name="firstname" placeholder="Nombres completos" onfocus="focusInput('name')" onblur="blurInput('name')" required (click)="validateUserInputs(name.value)" (blur)="validateUserInputs(name.value)" autocomplete="name">
                <p class="label error hidden">Los datos que ha ingresado son incorrectos</p>
                <button class="sum" (click)="disminuir()">-</button> {{cantidad}}
                <button class="rest" (click)="aumentar()">+</button>
                <br>
                <label id="email" class="label title" for="lemail">Correo electrónico</label>
                <input #email type="text" id="femail" name="email" placeholder="Correo electrónico" onfocus="focusInput('email')" onblur="blurInput('email')" required autocomplete="email">
                <p class="label error hidden">El correo ingresado no existe</p>

                <label id="business" for="fbusiness">Empresa</label>
                <input #companyVisitor type="text" id="fbusiness" name="business" placeholder="Empresa" onfocus="focusInput('business')" onblur="blurInput('business')" required autocomplete="companyVisitor">
                <p class="label error hidden">Los datos que ha ingresado son incorrectos</p>
                <label id="host" for="lname">¿A quién buscas?</label>
                <input #comunero type="text" id="lname" placeholder="Anfitrión" onfocus="focusInput('host')" onblur="blurInput('host')" name="empresa" [(ngModel)]="empresa" value="{{valorCapturado}}{{ valorEmpresa}}" required autocomplete="comunero">
                <span *ngFor="let empre of empresas | filterEmpresas: empresa">
                                <button *ngIf="empresa !== ''" type="button" (click)="capturarValor(empre.nombreapellido, empre.empresa)">{{empre.nombreapellido}}-{{empre.empresa}}</button>
                              </span>
                <p class="label error hidden">La persona que usted busca no está registrada</p>

                <label><input type="checkbox"  class="checkbox" value="first_checkbox">
                              Aceptar <a href="#" type="" data-toggle="modal" data-target="#exampleModalLong">términos y condiciones</a></label>
                <br>
                <button class="btn btn-warning btn-md text-white" type="submit" (click)="getVisitorValues(name.value, email.value, companyVisitor.value, comunero.value, cantidad, imagen.value)" data-toggle="modal" data-target=".bd-example-modal-sm">
                               Registrar mi visita
                              </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Términos y condiciones</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <h4>Al acceder al sitio web www.comunidadaltruista.org y utilizar los servicios presentados por el mismo, usted confirma que ha leído, entendido y acordado sujetarse a dichos términos, incluido el aviso de privacidad disponible
                                    en el mismo sitio web, así como las reglas de uso, operación y procedimientos publicados en el sitio web. Comunal se reserva el derecho de negar o restringir el acceso a cualquier usuario siempre y cuando no haga mal
                                    uso de los servicios presentados en el sitio web, suspender, o restringir el acceso a las partes sin necesidad de previo aviso.
                                </h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary" onclick="aceptarCondition()" (click)="getVisitorValues(name.value, email.value, companyVisitor.value, comunero.value, cantidad, imagen.value)">Aceptar</button>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="button-enable yellow" routerLink="/register-form" class="btn btn-warning btn-md text-white">Continuar</button>
                </div>
                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div>
                                <img class="img-short img-fluid" src="../../../assets/imagenes/logo.png" alt="">
                            </div>
                            <hr>
                            <h2 class="text-center">¡Tu visita ha sido notificada!</h2>
                            <h5 class="text-center">Prometemos atenderte en unos minutos</h5>
                            <hr>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>