* {
    box-sizing: border-box;
}

.center {
    display: flex;
    margin: auto;
}

.text-center {
    text-align: center;
}

@font-face {
    font-family: montserratRegular;
    src: url(../../../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserratSemiBold;
    src: url(../../../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: markregular;
    src: url(../../../assets/fonts/Mark-Regular.ttf);
}


.form-register {
  border-color: rgba(0, 0, 0, 0.555);
  margin-top: 35%;
  border: outset;
  width: 250%;
  /* height: 100vh; */
  
    box-shadow: 6px 6px 0px white;

}

/* .subtitulo {
  margin-top: 10%;
} */

.row1 {
  margin-left: 30%;
  margin-top: 1%;
  /* width: 100%; */
}

.fontregular .textsubtitulo{
    font-family: montserratRegular;
    font-size: 15px;
}
.titulo, .subtitulo{
font-family: markregular;
}
.texttitulo{
    /* text-align: center; */
    font-family: markregular;
    font-weight: 700;
    font-size: 36px;
    color: #000013;
    /* max-width: 355px; */
    /* letter-spacing: 0; */
    /* line-height: 41px; */
}

body {
    background-color: #fafafa;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    font-size: 16px;
    font-family: montserratRegular;
    color: #0000139c;
}
.btn-cont button{
    font-family: markRegular, sans-serif;
    padding: 5px;
    border: none;
    background :#FFd100;
    color: #000013;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    width: 100%;
    height: 48px;
}

.sum {
    color: #000013;
    font-size: 150%;
    background-color: #00a8cd;
    margin-left: 3%;
    border-radius: 8px;
    font-weight: bolder;
    padding-left: 1%
}

.rest {
    background-size: 200%;
    color: #000013;
    font-size: 150%;
    background-color: #00a8cd;
    margin-left: 2%;
    border-radius: 10px;
    font-weight: bolder;
}

.upload-btn-wrapper [type=file] {
    
    font-size: 100px;
    position: absolute;
    display: block;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 140px;
    left: 0;
    top: 0;
    opacity: 0;
}

.container {
    /* display: flex; */
    border-radius: 10px;
    display:flex;
  justify-content: space-between;
    /* position: relative; */
}

.dot {
    height: 200px;
    width: 200px;
    background-color: #bbb;
    background-image: url(../../../assets/img/icon_camera.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    align-content: center;
}

p {
    font-size: 12px;
}

label {
    font-size: 12px;
}

input {
    font-size: 16px;
}

input:focus {
    outline: none !important;
    border: 1px solid #00a8cd
}

.button-enable {
    width: 100%;
    height: 44px;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: montserratSemiBold;
    font-size: 16px;
    margin-top: 10%;
}

/* .button-disabled {
    width: 100%;
    height: 44px;
    text-align: center;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: montserratSemiBold;
    font-size: 16px;
} */

/* .button-enable.yellow {
    background-color: #ffd100;
    color: #000013;
} */

/* .button-disabled.gray {
    background-color: #d2d2d2;
    color: #9c9c9c;
} */

div {
    border-radius: 5px;
    padding: 20px;
}

.check {
    border-radius: 4px;
    width: 20px;
    height: 20px;
    outline: none !important;
    border: 10px solid #00a8cd;
    background-color: #ffffff;
}

.text-checkbox {
    font-size: 16px;
    font-family: montserratRegular;
    color: #000013;
    margin-top: 20px;
}

.label.title {
    margin-bottom: 6px;
    margin-top: 6px;
    color: #000013
}

.label.error {
    margin-top: 2px;
    margin-bottom: 6px;
    color: #d50000;
}
label{
    font-family: markregular;
    font-size: 12px;
}
.show {
    display: block;
}

.hidden {
    display: none;
}

.img-short {
    width: 30%;
    height: 30%;
}

